*.[oa]
*~
*.txt
*.pyc
*.so
!./gsl.so
test*
data
output*
*.swp
trace.*
*.trace
res2
*.db
*.eps
*.tgz
*.pickle
*.gz
view_prob*
res
continue_probability_9
dragon_2
thai_2
happy_2
change_think_time
continue_think_time
traceGenerator.py.*

